body{
    direction:rtl;
    margin:0 auto;
    font-family: Arial , sans-serif;
}
#container{
    width: 1280px;
    margin: 0 auto;
    background-color:#FAF9F9;
}
#content{
    width:1160px;
    height:750px;
    margin:0 auto;
    
}
#nav1{
    z-index:1;
    position:sticky;
    top:0;
    background-color:#FAEDCD;
    width:1280px;
    margin:0 auto;
}
nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    padding:0;
    margin:0 auto;
    position:relative;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li {
    display:inline-block;
    float:right;
}
nav ul li a{
    display: block;
    background-color:#FAEDCD;
    color:black;
width:150px;
height:50px;
    text-align:center;
text-decoration:none;
    line-height:50px;
}

nav ul li a:hover{
    background-color:#D4A373;
}

#mainNav ul li ul{
    display:none;
    position:absolute;
}
 #mainNav ul li:hover ul{
     display:block;
     width:150px;
 }
 .notActive{
     cursor:not-allowed;
     color:gray;
 }

#maafim{
    cursor:not-allowed;
    color:black;
}


#breadNav ol li{
    list-style:none;
    display:inline-block;
}

#breadNav ol li:last-child:before{
    content:">";
}
#breadNav ol{
    padding:0;
}
h1{
    font-size:48px;
    padding-top: 80px;
    margin-bottom:100px;
    text-align: center;

}
table{
    width: 1160px;
    height: 250px;
    text-align: center;
    color:black;
    font-size:18px;


}
#firstRow td a{
    background-color:#D4A373;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    width: 80px;
    text-align: center;
    
}

.notLink{
    cursor:not-allowed;
    color:black;
    text-decoration:none;
}

.link{
    color:black;
    text-decoration:none;
}

.link:hover{
    text-decoration:underline;
}
.notLink:hover{
    text-decoration:underline;   
}


footer{
    z-index:1;
    position:relative;
    width:1280px;
    height:80px;
    background-color:#FAEDCD;
    text-align:center;
    margin-top:100px;
}
 footer ul li{
     display: inline-block;
     background-color:#FAEDCD;
     color:black;
     width:150px;
     height:50px;
     text-align:center;
     line-height:50px;
     margin:0 20px;
   
 }
 footer ul li a{
     text-decoration:none;
     color:blue;
 }
footer ul li:hover a{
    text-decoration:underline; 
    color:blue;
}
